In [5]:
import geopandas as gpd
import osmnx as ox
import pandas as pd

In [ ]:
def get_shops(lat: float, lon: float, radius: int = 1000) -> gpd.GeoDataFrame:
    try:
        shops = ox.features_from_point(
            (lat, lon), dist=radius, tags={"shop": True})
        shops_clean_metric = shops.reset_index(
        )[["name", "geometry"]].to_crs(epsg=2180)
        shops_clean_metric["geometry"]=shops_clean_metric["geometry"].centroid
        return shops_clean_metric
    except Exception:
        return None
dom = (50.172617, 19.916644)
lat = dom[0]
lon = dom[1]
shops=get_shops(lat,lon)

In [10]:
shops["geometry"]=shops["geometry"].centroid
shops

                       name                       geometry
0                       NaN  POINT (565162.339 256746.072)
1  Stacja Kontroli Pojazdów  POINT (564968.713 255642.582)