In [30]:
import osmnx as ox
import geopandas as gpd
import pandas as pd
cafes = ox.features_from_point((50.066303, 19.921035),
                               dist=20000, tags={"natural": "cave_entrance"})

In [31]:
cafes.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 118 entries, ('node', np.int64(278057695)) to ('node', np.int64(13566924906))
Data columns (total 56 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   geometry                118 non-null    geometry
 1   access                  22 non-null     object
 2   barrier                 3 non-null      object
 3   ele                     6 non-null      object
 4   name                    115 non-null    object
 5   name:en                 1 non-null      object
 6   name:hu                 1 non-null      object
 7   name:pl                 1 non-null      object
 8   natural                 118 non-null    object
 9   ref:ckkp                2 non-null      object
 10  cave:depth              17 non-null     object
 11  cave:length             20 non-null     object
 12  description             2 non-null      object
 13  ref                     14 non-null     object
 14  source                  24 non-null     object
 15  wikidata                28 non-null     object
 16  wikipedia               27 non-null     object
 17  alt_name                6 non-null      object
 18  fee                     19 non-null     object
 19  website                 10 non-null     object
 20  cave:difficulty         2 non-null      object
 21  source:position         1 non-null      object
 22  charge                  1 non-null      object
 23  old_name                1 non-null      object
 24  url                     1 non-null      object
 25  addr:city               1 non-null      object
 26  addr:postcode           1 non-null      object
 27  addr:street             1 non-null      object
 28  source:name             1 non-null      object
 29  archaeological_site     1 non-null      object
 30  heritage                1 non-null      object
 31  heritage:operator       1 non-null      object
 32  heritage:website        1 non-null      object
 33  historic                1 non-null      object
 34  historic:civilization   1 non-null      object
 35  historic:period         1 non-null      object
 36  material                1 non-null      object
 37  nid:inscription_date    1 non-null      object
 38  tourism                 2 non-null      object
 39  wheelchair              4 non-null      object
 40  short_name              2 non-null      object
 41  entrance                1 non-null      object
 42  fixme                   1 non-null      object
 43  note                    1 non-null      object
 44  opening_hours           1 non-null      object
 45  source:natural          1 non-null      object
 46  cave:equipment          1 non-null      object
 47  direction               4 non-null      object
 48  alt_name:en             1 non-null      object
 49  alt_name:zh             1 non-null      object
 50  crfop:inscription_date  1 non-null      object
 51  denotation              1 non-null      object
 52  protected               1 non-null      object
 53  ref:CRFOP               1 non-null      object
 54  ref:gid                 1 non-null      object
 55  ref:inspire             1 non-null      object
dtypes: geometry(1), object(55)
memory usage: 61.1+ KB

In [32]:
cafes_clean=cafes.reset_index()[["name","geometry"]].to_crs(epsg=2180)
cafes_clean

                      name                       geometry
0              Smocza Jama   POINT (566817.109 243292.78)
1           Jaskinia Jasna  POINT (564490.741 241741.071)
2    Jaskinia Nietoperzowa  POINT (555267.906 258813.569)
3          Kawerna Kostrze  POINT (561813.575 240819.769)
4    Kawerna Pod Kapliczką  POINT (561493.676 240726.519)
..                     ...                            ...
113     Jaskinia Graniczna  POINT (547385.429 258341.184)
114      Jaskinia Beczkowa   POINT (548715.797 256356.87)
115      Jaskinia Bezsenna  POINT (552994.271 256982.691)
116        Jaskinia Bojowa  POINT (552536.596 254635.383)
117    Uroczysko Kryspinów  POINT (557230.589 241921.671)

[118 rows x 2 columns]

In [33]:
mapbox_token="pk.eyJ1Ijoia2phbHYiLCJhIjoiY21lbWk5N3BqMG9xazJpczlxdTZyb2xueiJ9._l4sMzp9t6JVxx1ESh6EBQ"
style_id="light-v11"
mapbox_url = f"https://api.mapbox.com/styles/v1/mapbox/{style_id}/tiles/256/{{z}}/{{x}}/{{y}}@2x?access_token={mapbox_token}"
cafes_clean.explore(marker_kwds={"radius":10},tiles=mapbox_url,
    attr="© Mapbox © OpenStreetMap",cmap="viridis").save("map.html")