In [60]:
import pandas as pd
import geopandas as gpd

In [61]:
stop_times = pd.read_csv(r"GTFS_KRK_M\stop_times.txt")
calendar = pd.read_csv(r"GTFS_KRK_M\calendar.txt")
trips = pd.read_csv(r"GTFS_KRK_M\trips.txt")
stops = pd.read_csv(r"GTFS_KRK_M/stops.txt")
routes = pd.read_csv(r"GTFS_KRK_M/routes.txt")
borders = gpd.read_file("krakow_borders.geojson").to_crs(epsg=2180)

In [62]:
def gtfs_to_seconds(time_series):
    time_parts = time_series.str.split(":",expand=True).astype(int)
    return time_parts[0]*3600+time_parts[1]*60+time_parts[2]

In [63]:
display(calendar)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1582_PO,0,0,0,0,0,0,0,20260221,20270131
1,1582_SO,0,0,0,0,0,0,0,20260221,20270131
2,1582_SW,0,0,0,0,0,0,0,20260221,20270131
3,1582_PT,0,0,0,0,0,0,0,20260221,20270131
4,1582_CZ,0,0,0,0,0,0,0,20260221,20270131
5,1583_PO,0,0,0,0,0,0,0,20260221,20270131
6,1583_SO,0,0,0,0,0,0,0,20260221,20270131
7,1583_SW,0,0,0,0,0,0,0,20260221,20270131
8,1583_PT,0,0,0,0,0,0,0,20260221,20270131
9,1583_CZ,0,0,0,0,0,0,0,20260221,20270131

In [64]:
display(stop_times.head())

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,1582_6568,06:38:00,06:38:00,2580,1,NaN,0,1,NaN,1
1,1583_6475,06:38:00,06:38:00,2580,1,NaN,0,1,NaN,1
2,1582_6568,06:40:00,06:40:00,2590,2,NaN,0,0,NaN,1
3,1583_6475,06:40:00,06:40:00,2590,2,NaN,0,0,NaN,1
4,1582_6568,06:42:00,06:42:00,2639,3,NaN,0,0,NaN,1

In [65]:
display(routes.head())

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,continuous_pickup,continuous_drop_off
0,100,Mobilis,100,NaN,NaN,3,NaN,FFFFFF,000000,1,NaN,NaN
1,101,Mobilis,101,NaN,NaN,3,NaN,FFFFFF,000000,2,NaN,NaN
2,103,Mobilis,103,NaN,NaN,3,NaN,FFFFFF,000000,3,NaN,NaN
3,106,Mobilis,106,NaN,NaN,3,NaN,FFFFFF,000000,4,NaN,NaN
4,108,Mobilis,108,NaN,NaN,3,NaN,FFFFFF,000000,5,NaN,NaN

In [66]:
display(stop_times.head())

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,1582_6568,06:38:00,06:38:00,2580,1,NaN,0,1,NaN,1
1,1583_6475,06:38:00,06:38:00,2580,1,NaN,0,1,NaN,1
2,1582_6568,06:40:00,06:40:00,2590,2,NaN,0,0,NaN,1
3,1583_6475,06:40:00,06:40:00,2590,2,NaN,0,0,NaN,1
4,1582_6568,06:42:00,06:42:00,2639,3,NaN,0,0,NaN,1

In [67]:
display(stops.head())

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,12,101-05,Stella-Sawickiego,5,50.07358,20.00343,1,NaN,0,NaN,NaN,0
1,13,101-06,Stella-Sawickiego,6,50.07487,20.00369,1,NaN,0,NaN,NaN,0
2,14,101-08,Stella-Sawickiego,8,50.07653,20.00359,1,NaN,0,NaN,NaN,0
3,17,102-03,Czyżyny,3,50.07417,20.01123,1,NaN,0,NaN,NaN,0
4,23,103-05,Rondo Czyżyńskie,5,50.07382,20.01649,1,NaN,0,NaN,NaN,0

In [68]:
display(trips.head())

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,101,1582_PO,1582_6568,Kopiec Kościuszki,NaN,0,101-01,993372,0,0
1,101,1583_PO,1583_6475,Kopiec Kościuszki,NaN,0,101-01,994809,0,0
2,100,1582_PO,1582_6572,Plac Na Stawach,NaN,1,101-01,993233,0,0
3,100,1583_PO,1583_6477,Plac Na Stawach,NaN,1,101-01,994670,0,0
4,100,1582_PO,1582_6577,Kopiec Kościuszki,NaN,0,101-01,993234,0,0

In [69]:
trip_starts = pd.merge(stop_times, trips, on="trip_id")[["trip_id","departure_time"]]
trip_starts["departure_seconds"] = gtfs_to_seconds(trip_starts["departure_time"])
trip_starts = trip_starts.groupby("trip_id", as_index=False).agg({"departure_seconds":"min"})
high_time_trips = trip_starts.query("departure_seconds>=25200 and departure_seconds<=32400")["trip_id"]
high_time_trips = high_time_trips.array

In [70]:
stops_location = stops[["stop_id","stop_name","stop_lat","stop_lon"]]
routes_useful = routes[["route_id","route_short_name","route_type"]]
trips_useful = trips[["trip_id","route_id","service_id","direction_id"]]
stop_times_useful = stop_times[["trip_id","departure_time","stop_id","pickup_type"]]
stop_times_clean = stop_times_useful.copy()

In [71]:
stops_gdf = gpd.GeoDataFrame(stops_location, geometry=gpd.points_from_xy(stops_location["stop_lon"],stops_location["stop_lat"]), crs="EPSG:4326")
stops_gdf=stops_gdf.drop(columns=["stop_lat","stop_lon"]).to_crs(epsg=2180)

In [72]:
stops_in_borders_map = stops_gdf.sjoin(borders, predicate="within")
stops_in_borders_array = stops_in_borders_map["stop_id"].array

In [73]:
all_trips = pd.merge(stop_times_clean, trips_useful, how="left", on="trip_id")
trips_in_borders = all_trips[all_trips["stop_id"].isin(stops_in_borders_array)]
workday_trips = trips_in_borders[trips_in_borders["service_id"]=="1582_PO"].drop(columns="service_id")

In [74]:
workday_trips["departure_seconds"] = gtfs_to_seconds(workday_trips["departure_time"])
workday_trips = workday_trips.rename(columns={"stop_id":"starting_stop"}).drop(columns="departure_time")
high_time = workday_trips[workday_trips["trip_id"].isin(high_time_trips)].copy()
high_time["target_seconds"] = high_time["departure_seconds"]+1800
target_stops = high_time[["trip_id", "starting_stop", "departure_seconds"]].copy().rename(columns={"starting_stop":"target_stop"})

In [75]:
high_time=high_time.sort_values("target_seconds")
target_stops = target_stops.sort_values("departure_seconds")
furthest_stops = pd.merge_asof(
    left=high_time, 
    right=target_stops, 
    by="trip_id", 
    left_on="target_seconds", 
    right_on="departure_seconds", 
    direction="backward",
)
furthest_stops = furthest_stops.merge(routes_useful, how="left", on="route_id").drop(columns=["departure_seconds_x","departure_seconds_y","target_seconds"])
furthest_stops = furthest_stops[furthest_stops["pickup_type"]!=1].drop(columns="pickup_type")

In [76]:
furthest_stops = furthest_stops.merge(stops_in_borders_map, how="inner", left_on="starting_stop", right_on="stop_id").drop(columns="stop_id")
furthest_stops = furthest_stops.rename(columns={"stop_name":"starting_stop_name","geometry":"starting_stop_location"})
furthest_stops = furthest_stops.merge(stops_in_borders_map, how="inner", left_on="target_stop", right_on="stop_id").drop(columns="stop_id")
furthest_stops = furthest_stops.rename(columns={"stop_name":"target_stop_name","geometry":"target_stop_location"})
furthest_stops = furthest_stops[furthest_stops["starting_stop_name"]!=furthest_stops["target_stop_name"]]

In [ ]:
furthest_stops_clean = gpd.GeoDataFrame(
    furthest_stops[["route_short_name","route_type","direction_id","starting_stop_name","starting_stop_location","target_stop_name","target_stop_location"]], 
    geometry="starting_stop_location", 
    crs="EPSG:2180"
)
furthest_stops_clean["max_reach_km"]=furthest_stops_clean.distance(furthest_stops_clean["target_stop_location"])/1000
stop_reach = furthest_stops_clean.groupby(["starting_stop_name","starting_stop_location","route_short_name","direction_id","route_type"], as_index=False).agg({"max_reach_km":"mean"}).rename(columns={"starting_stop_name":"stop_name","starting_stop_location":"stop_location","route_short_name":"route_number"})
final_reachability = stop_reach.groupby(["stop_location","stop_name","route_number","direction_id","route_type"], as_index=False).agg({"max_reach_km":"sum"}).sort_values(by="max_reach_km",ascending=False)
final_reachability_gdf = gpd.GeoDataFrame(final_reachability, geometry="stop_location", crs="EPSG:2180")